body {
    padding-top: 50px;
}
.main {
    padding: 40px 15px;
    text-align: center;
}

html, body, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.front_page_text {
    text-align: center;
    color: white;
}

footer {
    margin: 50px 0;
}